In [7]:
import pandas as pd

df = pd.read_csv("shipdata.csv",delimiter=";")
df = df.groupby('imo',as_index=False)[["mainEngineConsumption","DistanceOverGround","Speed"]].sum()
df.head()

       imo  mainEngineConsumption  DistanceOverGround        Speed
0  9375252            2748.810759         4307.688280  1460.277283
1  9429194            2587.028225         5217.820708  1390.933682
2  9589085            2747.758417         4565.728563  1445.190542
3  9589621            2727.085176         5046.517550  1411.736285
4  9589633            2651.854120         4088.696271  1357.934866